{% extends "base.html" %}
{% block content %}
<div class="greenBorder" style="display: table; height: 400px;  #position: relative; overflow: hidden;">
    <!--
    <div style="#position: absolute;  #top: 50%;display: table-cell; vertical-align: middle;">
    -->
    <div style="#position: absolute;  #top: 50%;display: table-cell; vertical-align: middle;">
        <div class="greenBorder" style="  #position: relative;  #top: -50%">
            Welcome to our appliance warranty center
        </div>
    </div>
</div>
{% endblock %}
